html {
  height: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  color: #fff;
  background-image: url(images/pexels-anna-nekrashevich-6801648-edited-by-pixlr.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80vw;
  min-height: 99vh;
  height: auto;
}

header {
  background-color: #1cbc9c;
  color: #fff !important;
  height: auto;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 25px;
}

main {
  height: auto;
}

* {
  box-sizing: border-box;
}

.box1::after {
  content: "";
  clear: both;
  display: table;
  width: 80vw;
  height: auto;
}

.box2 {
  background-color: rgba(195, 208, 219, 0.5);
  float: left;
  width: 40%;
  padding: 25px;
  height: auto;
  margin-bottom: 25px;
  border-style: double;
  border-color: black;
}

.box3 {
  background-color: inherit;
  float: left;
  width: 20%;
  padding: 25px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.box4 {
  background-color: rgba(195, 208, 219, 0.5);
  float: left;
  width: 100%;
  padding: 25px;
  height: auto;
  margin-bottom: 25px;
  border-style: double;
  border-color: black;
}

nav {
  text-align: center;
  height: auto;
  /* margin-top: 50px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 10px; */
}

nav a {
  /* background-color: rgba(195, 208, 219, 0.5); */
  color: #002145;
  font-size: large;
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
}

footer {
  background-color: #1cbc9c;
  height: auto;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: sticky;
  top: 100%;
}

footer p {
  font-size: smaller;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-size: larger;
  font-family: Arial, Sans-Serif !important;
}

h2 {
  font-size: x-large;
  font-family: Arial, Sans-Serif !important;
}

p {
  font-size: large;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 a {
  color: #1F51FF;
  font-family: Arial, Sans-Serif !important;
  text-decoration: none;
}

h2 a {
  color: #1F51FF;
  font-size: x-large;
  font-family: Arial, Sans-Serif !important;
  text-decoration: none;
}

.footer-link {
  color: #1F51FF;
  font-weight: bold;
  font-family: 'Open Sans', Arial, sans-serif;
  text-decoration: none;
}

.a-link {
  color: #1F51FF;
  font-size: large;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}